/************************************************/
/*****          Main Comment Form           *****/
/************************************************/

.form-group {
    margin-bottom: 0;
}

.main-comment-form,
.sub-comment-form {
    padding: 1rem;
    background-color: #f7f7f8;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
}


.main-comment-form__img,
.main-comment-form__img img,
.main-comment-item__author,
.main-comment-item__author img {
    width: 100px;
}

.main-comment-form__img img,
.main-comment-item__author img {
    background-color: white;
}

.main-comment-form__form {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
}

.main-comment-text {
    width: 100%;
    border-radius: 12px;
}

.main-comment-text::placeholder {
    padding: 0.2rem 0.8rem;
}

.comment-btn {
    background-color: #2e69ff;
    color: white;
    border-radius: 12px;
    padding: 6px 24px;
}


/************************************************/
/*****               Comments               *****/
/************************************************/

.comments {
    padding: 1rem;
}


.main-comment-item {
    border-bottom: 1px solid grey;
    margin-bottom: 2rem;
}


.general-info {
    display: grid;
    grid-template-columns: 100px auto 50px;
    grid-column-gap: 1rem;
}

.main-comment-item__info p {
    color: grey;
}

.main-comment-item__action span {
    font-size: 19px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 2px 8px;
}

.main-comment-item__message {
    margin-bottom: 12px;
}



/************************************************/
/*****           Sub Comments               *****/
/************************************************/

.sub-comment-item {
    margin-left: 100px;
}

.mb-24 {
    margin-bottom: 24px;
}
 











