@using Forum.Models.Comments
@model SubComment

@{

}


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form method="post" class="main-comment-form__form" asp-controller="Home" asp-action="SubCommentUpdate">
            <input class="sub-comm-modal" asp-for="Id" type="hidden" />
            <input class="main-comm-modal" asp-for="MainCommentId" type="hidden" />

            <div class="form-group">
                <textarea type="text" rows="3" cols="100" asp-for="Message" id="editor"
                          class="main-comment-text" placeholder="Add a comment..."></textarea>
            </div>

            <div class="form-group">
                <input type="submit" class="comment-btn" value="Update Comment" />
            </div>
        </form>
    </div>
</div>
