@model Forum.Models.ViewModels.PostVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.Id" />
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <textarea asp-for="Post.Title" class="form-control" id="editor"></textarea>
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Post.CategoryId" class="control-label"></label>
                @Html.DropDownListFor(m => m.Post.CategoryId,
                                    Model.CategoryList,
                                    "---Select a Category---",
                                    new { @class = "form-control" })
                <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Post.Body" class="control-label"></label>
                <input asp-for="Post.Body" class="form-control" />
                <span asp-validation-for="Post.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.ImageUrl" class="control-label"></label>
                <input type="file" name="files" id="uploadBox" multiple class="form-conrtol" />
                <span asp-validation-for="Post.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @if (Model.Post.Id != 0)
                    {
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                    }
                    else
                    {
                        <button type="submit" onclick="return validateInput()" class="btn btn-primary btn-block">Create</button>
                    }
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fade fa-table mr-2"></i>Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/trumbowyg.min.js"></script>

    <script>
        function validateInput() {
            if (document.getElementById('uploadBox').value == "") {
                swal('Error', 'Please, select an image', 'error')
                return false;
            }
            return true;
        }

        // for editor
        $("#editor").trumbowyg();
    </script>
}
